body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.pinimg.com/originals/8f/14/57/8f14578ef69a4c53352955d1e072eda6.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

/*app*/
.appBar {
  border-radius: 15px;
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 2px solid black;
}

.image {
  margin-left: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*video*/
.video {
  width: 550px;
}

.gridContainer {
  justify-content: center;
}

.paper {
  padding: 10px;
  border: 2px solid black;
  margin: 10px;
}

/*options*/
.options-root {
  display: flex;
  flex-direction: column;
}

.gridContainer {
  width: 100%;
}

.container {
  width: 600px;
  margin: 35px 0 !important;
  padding: 0 !important;
}

.margin {
  margin-top: 20px !important;
}

.padding {
  padding: 20px !important;
}

.paper {
  padding: 10px 20px;
  border: 2px solid black;
}

@media only screen and (max-width: 600px) {
  .appBar {
    width: 90%;
  }

  .video {
    width: 300px;
  }

  .gridContainer {
    flex-direction: column;
  }

  .gridContainer {
    flex-direction: column;
  }

  .container {
    width: 80%;
  }
}
